.header {
    background-color: #070d83;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-right: 1rem;
}

.header nav ul li:last-child {
    margin-right: 0;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.header nav ul li a:hover {
    text-decoration: underline;
}